body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2837 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  line-height:22px;
}
#u2838 {
  position:absolute;
  left:116px;
  top:155px;
  width:203px;
  height:22px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  line-height:22px;
}
#u2839 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u2840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:2px;
}
#u2841 {
  position:absolute;
  left:126px;
  top:352px;
  width:682px;
  height:1px;
}
#u2842 {
  position:absolute;
  left:2px;
  top:-8px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:2px;
}
#u2843 {
  position:absolute;
  left:126px;
  top:320px;
  width:682px;
  height:1px;
}
#u2844 {
  position:absolute;
  left:2px;
  top:-8px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:2px;
}
#u2845 {
  position:absolute;
  left:126px;
  top:288px;
  width:682px;
  height:1px;
}
#u2846 {
  position:absolute;
  left:2px;
  top:-8px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:2px;
}
#u2847 {
  position:absolute;
  left:126px;
  top:257px;
  width:682px;
  height:1px;
}
#u2848 {
  position:absolute;
  left:2px;
  top:-8px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:2px;
}
#u2849 {
  position:absolute;
  left:126px;
  top:225px;
  width:682px;
  height:1px;
}
#u2850 {
  position:absolute;
  left:2px;
  top:-8px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:2px;
}
#u2851 {
  position:absolute;
  left:126px;
  top:193px;
  width:682px;
  height:1px;
}
#u2852 {
  position:absolute;
  left:2px;
  top:-8px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2853 {
  position:absolute;
  left:105px;
  top:346px;
  width:24px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2854 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u2855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2855 {
  position:absolute;
  left:105px;
  top:314px;
  width:31px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2856 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2857 {
  position:absolute;
  left:105px;
  top:282px;
  width:31px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2858 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2859 {
  position:absolute;
  left:105px;
  top:251px;
  width:31px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2860 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2861 {
  position:absolute;
  left:105px;
  top:219px;
  width:31px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2862 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2863 {
  position:absolute;
  left:105px;
  top:187px;
  width:31px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2864 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u2866 {
  position:absolute;
  left:126px;
  top:352px;
  width:1px;
  height:3px;
}
#u2867 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2868 {
  position:absolute;
  left:116px;
  top:361px;
  width:18px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2869 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u2870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u2871 {
  position:absolute;
  left:230px;
  top:352px;
  width:1px;
  height:3px;
}
#u2872 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2873 {
  position:absolute;
  left:220px;
  top:361px;
  width:18px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2874 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u2875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u2876 {
  position:absolute;
  left:334px;
  top:352px;
  width:1px;
  height:3px;
}
#u2877 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2878 {
  position:absolute;
  left:324px;
  top:361px;
  width:18px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2879 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u2880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u2881 {
  position:absolute;
  left:437px;
  top:352px;
  width:1px;
  height:3px;
}
#u2882 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2883 {
  position:absolute;
  left:428px;
  top:361px;
  width:18px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2884 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u2885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u2886 {
  position:absolute;
  left:541px;
  top:352px;
  width:1px;
  height:3px;
}
#u2887 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2888 {
  position:absolute;
  left:532px;
  top:361px;
  width:18px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2889 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u2890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u2891 {
  position:absolute;
  left:645px;
  top:352px;
  width:1px;
  height:3px;
}
#u2892 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2893 {
  position:absolute;
  left:636px;
  top:361px;
  width:18px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2894 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u2895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u2896 {
  position:absolute;
  left:750px;
  top:352px;
  width:1px;
  height:3px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2898 {
  position:absolute;
  left:740px;
  top:361px;
  width:18px;
  height:20px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u2899 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u2900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2901_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:685px;
  height:139px;
}
#u2901p000 {
  position:absolute;
  left:-3px;
  top:117px;
  width:45px;
  height:3px;
  -webkit-transform:rotate(-22deg);
  -moz-transform:rotate(-22deg);
  -ms-transform:rotate(-22deg);
  transform:rotate(-22deg);
}
#u2901p000_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:50px;
  height:6px;
}
#u2901p001 {
  position:absolute;
  left:35px;
  top:121px;
  width:71px;
  height:4px;
  -webkit-transform:rotate(22deg);
  -moz-transform:rotate(22deg);
  -ms-transform:rotate(22deg);
  transform:rotate(22deg);
}
#u2901p001_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:76px;
  height:8px;
}
#u2901p002 {
  position:absolute;
  left:83px;
  top:87px;
  width:149px;
  height:3px;
  -webkit-transform:rotate(-41deg);
  -moz-transform:rotate(-41deg);
  -ms-transform:rotate(-41deg);
  transform:rotate(-41deg);
}
#u2901p002_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:154px;
  height:6px;
}
#u2901p003 {
  position:absolute;
  left:209px;
  top:48px;
  width:98px;
  height:4px;
  -webkit-transform:rotate(11deg);
  -moz-transform:rotate(11deg);
  -ms-transform:rotate(11deg);
  transform:rotate(11deg);
}
#u2901p003_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:102px;
  height:8px;
}
#u2901p004 {
  position:absolute;
  left:292px;
  top:27px;
  width:101px;
  height:5px;
  -webkit-transform:rotate(-37deg);
  -moz-transform:rotate(-37deg);
  -ms-transform:rotate(-37deg);
  transform:rotate(-37deg);
}
#u2901p004_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:104px;
  height:8px;
}
#u2901p005 {
  position:absolute;
  left:355px;
  top:64px;
  width:226px;
  height:6px;
  -webkit-transform:rotate(38deg);
  -moz-transform:rotate(38deg);
  -ms-transform:rotate(38deg);
  transform:rotate(38deg);
}
#u2901p005_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:230px;
  height:10px;
}
#u2901p006 {
  position:absolute;
  left:526px;
  top:77px;
  width:143px;
  height:3px;
  -webkit-transform:rotate(-52deg);
  -moz-transform:rotate(-52deg);
  -ms-transform:rotate(-52deg);
  transform:rotate(-52deg);
}
#u2901p006_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:146px;
  height:6px;
}
#u2901p007 {
  position:absolute;
  left:632px;
  top:40px;
  width:59px;
  height:4px;
  -webkit-transform:rotate(43deg);
  -moz-transform:rotate(43deg);
  -ms-transform:rotate(43deg);
  transform:rotate(43deg);
}
#u2901p007_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:62px;
  height:8px;
}
#u2901.compound {
  width:0px;
  height:0px;
}
#u2901 {
  position:absolute;
  left:125px;
  top:206px;
  width:682px;
  height:136px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2902 {
  position:absolute;
  left:16px;
  top:60px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u2904 {
  position:absolute;
  left:213px;
  top:251px;
  width:108px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u2905 {
  position:absolute;
  left:8px;
  top:7px;
  width:92px;
  white-space:nowrap;
}
#u2906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:6px;
}
#u2906 {
  position:absolute;
  left:215px;
  top:281px;
  width:1px;
  height:6px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2907 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2908 {
  position:absolute;
  left:86px;
  top:145px;
  width:21px;
  height:21px;
  opacity:0;
  color:#FFFFFF;
}
#u2909 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u2910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2910 {
  position:absolute;
  left:85px;
  top:400px;
  width:16px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u2911 {
  position:absolute;
  left:2px;
  top:-8px;
  width:12px;
  word-wrap:break-word;
}
#u2912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  line-height:22px;
}
#u2912 {
  position:absolute;
  left:355px;
  top:155px;
  width:91px;
  height:22px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  line-height:22px;
}
#u2913 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u2914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#157EDF;
  line-height:22px;
}
#u2914 {
  position:absolute;
  left:462px;
  top:155px;
  width:91px;
  height:22px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#157EDF;
  line-height:22px;
}
#u2915 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u2916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#157EDF;
  line-height:22px;
}
#u2916 {
  position:absolute;
  left:563px;
  top:155px;
  width:91px;
  height:22px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#157EDF;
  line-height:22px;
}
#u2917 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u2918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#157EDF;
  line-height:22px;
}
#u2918 {
  position:absolute;
  left:664px;
  top:155px;
  width:91px;
  height:22px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#157EDF;
  line-height:22px;
}
#u2919 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u2920 {
  position:absolute;
  left:85px;
  top:460px;
  width:744px;
  height:363px;
}
#u2921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
}
#u2921 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  font-size:12px;
  color:#157EDF;
}
#u2922 {
  position:absolute;
  left:2px;
  top:9px;
  width:69px;
  word-wrap:break-word;
}
#u2923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u2923 {
  position:absolute;
  left:73px;
  top:0px;
  width:69px;
  height:33px;
  font-size:12px;
  color:#CCCCCC;
}
#u2924 {
  position:absolute;
  left:2px;
  top:9px;
  width:65px;
  word-wrap:break-word;
}
#u2925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u2925 {
  position:absolute;
  left:142px;
  top:0px;
  width:175px;
  height:33px;
  font-size:12px;
  color:#CCCCCC;
}
#u2926 {
  position:absolute;
  left:2px;
  top:9px;
  width:171px;
  word-wrap:break-word;
}
#u2927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:33px;
}
#u2927 {
  position:absolute;
  left:317px;
  top:0px;
  width:106px;
  height:33px;
  font-size:12px;
  color:rgba(27, 27, 27, 0.2);
}
#u2928 {
  position:absolute;
  left:2px;
  top:9px;
  width:102px;
  word-wrap:break-word;
}
#u2929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:33px;
}
#u2929 {
  position:absolute;
  left:423px;
  top:0px;
  width:106px;
  height:33px;
  font-size:12px;
  color:rgba(27, 27, 27, 0.2);
}
#u2930 {
  position:absolute;
  left:2px;
  top:9px;
  width:102px;
  word-wrap:break-word;
}
#u2931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:33px;
}
#u2931 {
  position:absolute;
  left:529px;
  top:0px;
  width:106px;
  height:33px;
  font-size:12px;
  color:rgba(27, 27, 27, 0.2);
}
#u2932 {
  position:absolute;
  left:2px;
  top:9px;
  width:102px;
  word-wrap:break-word;
}
#u2933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:33px;
}
#u2933 {
  position:absolute;
  left:635px;
  top:0px;
  width:104px;
  height:33px;
  font-size:12px;
  color:rgba(27, 27, 27, 0.2);
}
#u2934 {
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  word-wrap:break-word;
}
#u2935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2935 {
  position:absolute;
  left:0px;
  top:33px;
  width:73px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2936 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u2937 {
  position:absolute;
  left:73px;
  top:33px;
  width:69px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2938 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u2939 {
  position:absolute;
  left:142px;
  top:33px;
  width:175px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2940 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u2939_ann {
  position:absolute;
  left:303px;
  top:33px;
  width:1px;
  height:1px;
}
#u2941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2941 {
  position:absolute;
  left:317px;
  top:33px;
  width:106px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u2942 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u2941_ann {
  position:absolute;
  left:409px;
  top:33px;
  width:1px;
  height:1px;
}
#u2943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2943 {
  position:absolute;
  left:423px;
  top:33px;
  width:106px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u2944 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2945 {
  position:absolute;
  left:529px;
  top:33px;
  width:106px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u2946 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u2947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u2947 {
  position:absolute;
  left:635px;
  top:33px;
  width:104px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u2948 {
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u2949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2949 {
  position:absolute;
  left:0px;
  top:63px;
  width:73px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2950 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u2951 {
  position:absolute;
  left:73px;
  top:63px;
  width:69px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2952 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u2953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u2953 {
  position:absolute;
  left:142px;
  top:63px;
  width:175px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2954 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2955 {
  position:absolute;
  left:317px;
  top:63px;
  width:106px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u2956 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2957 {
  position:absolute;
  left:423px;
  top:63px;
  width:106px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u2958 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2959 {
  position:absolute;
  left:529px;
  top:63px;
  width:106px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u2960 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u2961 {
  position:absolute;
  left:635px;
  top:63px;
  width:104px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u2962 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2963 {
  position:absolute;
  left:0px;
  top:93px;
  width:73px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2964 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u2965 {
  position:absolute;
  left:73px;
  top:93px;
  width:69px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2966 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u2967 {
  position:absolute;
  left:142px;
  top:93px;
  width:175px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u2968 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u2969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2969 {
  position:absolute;
  left:317px;
  top:93px;
  width:106px;
  height:30px;
  font-size:12px;
}
#u2970 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u2971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2971 {
  position:absolute;
  left:423px;
  top:93px;
  width:106px;
  height:30px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u2972 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u2973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2973 {
  position:absolute;
  left:529px;
  top:93px;
  width:106px;
  height:30px;
  font-size:12px;
}
#u2974 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u2975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u2975 {
  position:absolute;
  left:635px;
  top:93px;
  width:104px;
  height:30px;
  font-size:12px;
}
#u2976 {
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u2977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2977 {
  position:absolute;
  left:0px;
  top:123px;
  width:73px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2978 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u2979 {
  position:absolute;
  left:73px;
  top:123px;
  width:69px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2980 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u2981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u2981 {
  position:absolute;
  left:142px;
  top:123px;
  width:175px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2982 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u2983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2983 {
  position:absolute;
  left:317px;
  top:123px;
  width:106px;
  height:30px;
  font-size:12px;
}
#u2984 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2985 {
  position:absolute;
  left:423px;
  top:123px;
  width:106px;
  height:30px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u2986 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2987 {
  position:absolute;
  left:529px;
  top:123px;
  width:106px;
  height:30px;
  font-size:12px;
}
#u2988 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u2989 {
  position:absolute;
  left:635px;
  top:123px;
  width:104px;
  height:30px;
  font-size:12px;
}
#u2990 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2991 {
  position:absolute;
  left:0px;
  top:153px;
  width:73px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2992 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u2993 {
  position:absolute;
  left:73px;
  top:153px;
  width:69px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u2994 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u2995 {
  position:absolute;
  left:142px;
  top:153px;
  width:175px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u2996 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u2997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2997 {
  position:absolute;
  left:317px;
  top:153px;
  width:106px;
  height:30px;
  font-size:12px;
}
#u2998 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u2999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2999 {
  position:absolute;
  left:423px;
  top:153px;
  width:106px;
  height:30px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3000 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u3001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u3001 {
  position:absolute;
  left:529px;
  top:153px;
  width:106px;
  height:30px;
  font-size:12px;
}
#u3002 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u3003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u3003 {
  position:absolute;
  left:635px;
  top:153px;
  width:104px;
  height:30px;
  font-size:12px;
}
#u3004 {
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u3005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u3005 {
  position:absolute;
  left:0px;
  top:183px;
  width:73px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u3006 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u3007 {
  position:absolute;
  left:73px;
  top:183px;
  width:69px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u3008 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u3009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u3009 {
  position:absolute;
  left:142px;
  top:183px;
  width:175px;
  height:30px;
  font-size:12px;
  color:#108EE9;
}
#u3010 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u3011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u3011 {
  position:absolute;
  left:317px;
  top:183px;
  width:106px;
  height:30px;
  font-size:12px;
}
#u3012 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u3013 {
  position:absolute;
  left:423px;
  top:183px;
  width:106px;
  height:30px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3014 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u3015 {
  position:absolute;
  left:529px;
  top:183px;
  width:106px;
  height:30px;
  font-size:12px;
}
#u3016 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u3017 {
  position:absolute;
  left:635px;
  top:183px;
  width:104px;
  height:30px;
  font-size:12px;
}
#u3018 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u3019 {
  position:absolute;
  left:0px;
  top:213px;
  width:73px;
  height:29px;
  font-size:12px;
  color:#108EE9;
}
#u3020 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
}
#u3021 {
  position:absolute;
  left:73px;
  top:213px;
  width:69px;
  height:29px;
  font-size:12px;
  color:#108EE9;
}
#u3022 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:29px;
}
#u3023 {
  position:absolute;
  left:142px;
  top:213px;
  width:175px;
  height:29px;
  font-size:12px;
  color:#CCCCCC;
}
#u3024 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u3025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3025 {
  position:absolute;
  left:317px;
  top:213px;
  width:106px;
  height:29px;
  font-size:12px;
}
#u3026 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3027 {
  position:absolute;
  left:423px;
  top:213px;
  width:106px;
  height:29px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3028 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3029 {
  position:absolute;
  left:529px;
  top:213px;
  width:106px;
  height:29px;
  font-size:12px;
}
#u3030 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u3031 {
  position:absolute;
  left:635px;
  top:213px;
  width:104px;
  height:29px;
  font-size:12px;
}
#u3032 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u3033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u3033 {
  position:absolute;
  left:0px;
  top:242px;
  width:73px;
  height:29px;
  font-size:12px;
  color:#108EE9;
}
#u3034 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
}
#u3035 {
  position:absolute;
  left:73px;
  top:242px;
  width:69px;
  height:29px;
  font-size:12px;
  color:#108EE9;
}
#u3036 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u3037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:29px;
}
#u3037 {
  position:absolute;
  left:142px;
  top:242px;
  width:175px;
  height:29px;
  font-size:12px;
  color:#108EE9;
}
#u3038 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u3039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3039 {
  position:absolute;
  left:317px;
  top:242px;
  width:106px;
  height:29px;
  font-size:12px;
}
#u3040 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3041 {
  position:absolute;
  left:423px;
  top:242px;
  width:106px;
  height:29px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3042 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3043 {
  position:absolute;
  left:529px;
  top:242px;
  width:106px;
  height:29px;
  font-size:12px;
}
#u3044 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u3045 {
  position:absolute;
  left:635px;
  top:242px;
  width:104px;
  height:29px;
  font-size:12px;
}
#u3046 {
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u3047 {
  position:absolute;
  left:0px;
  top:271px;
  width:73px;
  height:29px;
  font-size:12px;
  color:#108EE9;
}
#u3048 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
}
#u3049 {
  position:absolute;
  left:73px;
  top:271px;
  width:69px;
  height:29px;
  font-size:12px;
  color:#108EE9;
}
#u3050 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:29px;
}
#u3051 {
  position:absolute;
  left:142px;
  top:271px;
  width:175px;
  height:29px;
  font-size:12px;
  color:#CCCCCC;
}
#u3052 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3053 {
  position:absolute;
  left:317px;
  top:271px;
  width:106px;
  height:29px;
  font-size:12px;
}
#u3054 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3055 {
  position:absolute;
  left:423px;
  top:271px;
  width:106px;
  height:29px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3056 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3057 {
  position:absolute;
  left:529px;
  top:271px;
  width:106px;
  height:29px;
  font-size:12px;
}
#u3058 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u3059 {
  position:absolute;
  left:635px;
  top:271px;
  width:104px;
  height:29px;
  font-size:12px;
}
#u3060 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u3061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u3061 {
  position:absolute;
  left:0px;
  top:300px;
  width:73px;
  height:29px;
  font-size:12px;
  color:#108EE9;
}
#u3062 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
}
#u3063 {
  position:absolute;
  left:73px;
  top:300px;
  width:69px;
  height:29px;
  font-size:12px;
  color:#108EE9;
}
#u3064 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u3065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:29px;
}
#u3065 {
  position:absolute;
  left:142px;
  top:300px;
  width:175px;
  height:29px;
  font-size:12px;
  color:#108EE9;
}
#u3066 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u3067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3067 {
  position:absolute;
  left:317px;
  top:300px;
  width:106px;
  height:29px;
  font-size:12px;
}
#u3068 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3069 {
  position:absolute;
  left:423px;
  top:300px;
  width:106px;
  height:29px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3070 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3071 {
  position:absolute;
  left:529px;
  top:300px;
  width:106px;
  height:29px;
  font-size:12px;
}
#u3072 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u3073 {
  position:absolute;
  left:635px;
  top:300px;
  width:104px;
  height:29px;
  font-size:12px;
}
#u3074 {
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u3075 {
  position:absolute;
  left:0px;
  top:329px;
  width:73px;
  height:29px;
  font-size:12px;
  color:#108EE9;
}
#u3076 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
}
#u3077 {
  position:absolute;
  left:73px;
  top:329px;
  width:69px;
  height:29px;
  font-size:12px;
  color:#108EE9;
}
#u3078 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:29px;
}
#u3079 {
  position:absolute;
  left:142px;
  top:329px;
  width:175px;
  height:29px;
  font-size:12px;
  color:#CCCCCC;
}
#u3080 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u3081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3081 {
  position:absolute;
  left:317px;
  top:329px;
  width:106px;
  height:29px;
  font-size:12px;
}
#u3082 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3083 {
  position:absolute;
  left:423px;
  top:329px;
  width:106px;
  height:29px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3084 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3085 {
  position:absolute;
  left:529px;
  top:329px;
  width:106px;
  height:29px;
  font-size:12px;
}
#u3086 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u3087 {
  position:absolute;
  left:635px;
  top:329px;
  width:104px;
  height:29px;
  font-size:12px;
}
#u3088 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u3089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:48px;
}
#u3089 {
  position:absolute;
  left:85px;
  top:413px;
  width:739px;
  height:48px;
  font-size:16px;
  text-align:left;
}
#u3090 {
  position:absolute;
  left:2px;
  top:14px;
  width:735px;
  word-wrap:break-word;
}
#u3091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:46px;
}
#u3091 {
  position:absolute;
  left:85px;
  top:4px;
  width:844px;
  height:46px;
  font-size:16px;
  text-align:left;
}
#u3092 {
  position:absolute;
  left:2px;
  top:14px;
  width:840px;
  word-wrap:break-word;
}
#u3093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:86px;
}
#u3093 {
  position:absolute;
  left:85px;
  top:49px;
  width:844px;
  height:86px;
  font-size:16px;
  text-align:left;
}
#u3094 {
  position:absolute;
  left:2px;
  top:35px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3095 {
  position:absolute;
  left:174px;
  top:60px;
  width:121px;
  height:27px;
}
#u3095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3095_input:disabled {
  color:grayText;
}
#u3096 {
  position:absolute;
  left:345px;
  top:60px;
  width:121px;
  height:27px;
}
#u3096_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3096_input:disabled {
  color:grayText;
}
#u3097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u3097 {
  position:absolute;
  left:311px;
  top:66px;
  width:14px;
  height:15px;
  font-size:13px;
}
#u3098 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3099 {
  position:absolute;
  left:110px;
  top:68px;
  width:29px;
  height:16px;
}
#u3100 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3101 {
  position:absolute;
  left:110px;
  top:103px;
  width:57px;
  height:16px;
}
#u3102 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3103 {
  position:absolute;
  left:174px;
  top:96px;
  width:121px;
  height:27px;
}
#u3103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3103_input:disabled {
  color:grayText;
}
#u3104 {
  position:absolute;
  left:345px;
  top:96px;
  width:121px;
  height:27px;
}
#u3104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3104_input:disabled {
  color:grayText;
}
#u3105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u3105 {
  position:absolute;
  left:311px;
  top:102px;
  width:14px;
  height:15px;
  font-size:13px;
}
#u3106 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u3107 {
  position:absolute;
  left:198px;
  top:429px;
  width:190px;
  height:16px;
}
#u3108 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u3109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u3109 {
  position:absolute;
  left:558px;
  top:420px;
  width:106px;
  height:30px;
  color:#FFFFFF;
}
#u3110 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u3111 {
  position:absolute;
  left:680px;
  top:420px;
  width:120px;
  height:30px;
  color:#FFFFFF;
}
#u3112 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u3113 {
  position:absolute;
  left:-21px;
  top:586px;
  visibility:hidden;
}
#u3113_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3113_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:285px;
}
#u3114 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:285px;
}
#u3115 {
  position:absolute;
  left:2px;
  top:134px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:286px;
}
#u3116 {
  position:absolute;
  left:0px;
  top:-1px;
  width:210px;
  height:286px;
}
#u3117 {
  position:absolute;
  left:2px;
  top:135px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u3118 {
  position:absolute;
  left:230px;
  top:527px;
  width:26px;
  height:25px;
}
#u3119 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3118_ann {
  position:absolute;
  left:249px;
  top:523px;
  width:1px;
  height:1px;
}
#u3120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u3120 {
  position:absolute;
  left:230px;
  top:586px;
  width:26px;
  height:25px;
}
#u3121 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u3122 {
  position:absolute;
  left:230px;
  top:647px;
  width:26px;
  height:25px;
}
#u3123 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u3124 {
  position:absolute;
  left:230px;
  top:705px;
  width:26px;
  height:25px;
}
#u3125 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u3126 {
  position:absolute;
  left:230px;
  top:763px;
  width:26px;
  height:25px;
}
#u3127 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3128 {
  position:absolute;
  left:116px;
  top:501px;
  width:20px;
  height:16px;
}
#u3129 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3128_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3130 {
  position:absolute;
  left:115px;
  top:530px;
  width:20px;
  height:16px;
}
#u3131 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3130_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3132 {
  position:absolute;
  left:115px;
  top:561px;
  width:20px;
  height:16px;
}
#u3133 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3132_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3134 {
  position:absolute;
  left:115px;
  top:591px;
  width:20px;
  height:16px;
}
#u3135 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3134_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3136 {
  position:absolute;
  left:114px;
  top:620px;
  width:20px;
  height:16px;
}
#u3137 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3136_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3138 {
  position:absolute;
  left:114px;
  top:651px;
  width:20px;
  height:16px;
}
#u3139 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3138_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3140 {
  position:absolute;
  left:115px;
  top:681px;
  width:20px;
  height:16px;
}
#u3141 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3140_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3142 {
  position:absolute;
  left:114px;
  top:710px;
  width:20px;
  height:16px;
}
#u3143 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3142_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3144 {
  position:absolute;
  left:114px;
  top:741px;
  width:20px;
  height:16px;
}
#u3145 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3144_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3146 {
  position:absolute;
  left:114px;
  top:766px;
  width:20px;
  height:16px;
}
#u3147 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3146_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3148 {
  position:absolute;
  left:113px;
  top:795px;
  width:20px;
  height:16px;
}
#u3149 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3148_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
